.row.comments
- if current_user
  .comment-form
    %h4 Comment
    = form_for [@prototype, @comment] do |f|
      = f.text_field :text, {placeholder: "コメントを入力してください", id: "new_comment", class: "textbox"}
      = f.submit "Comment",{class: "button"}

      / %textarea{cols: "100", name: "text", placeholder: "コメントする", rows: "5" , class: "textbox"}
      / %input{type: "submit", value: "SENT"}/

- else
  %h4 Comment
  %textarea{cols: "100", name: "text", placeholder: "コメントする", rows: "5"}
  = link_to("/users/sign_in") do
    %input{type: "submit", value: "SENT"}/


.comments-list
  %h4 Comment List
  - if comments
    - comments.each do |comment|
      %p
        %strong
          = comment.user.name
          = comment.text
          = link_to "編集",edit_prototype_comment_path(prototype,comment.id),method: :get, class: "edit-function"
          = link_to '削除',prototype_comment_path(prototype,comment.id),method: :delete, class: "delete-function", remote:true